<%include ../partials/header %>

  <div class="ui text container segment about_container">
    <h2 class="ui header">ABOUT ME</h2>
    <p>Hello, I am Yetunde. I am a web developer and University of Houston alumni. You can find my projects
      <a href="www.yetundesolaadebayo.com">here</a>. I also enjoy cooking and reading in my spare time. I made this website to share my love of cooking. I live
      in Houston and my favorite type of food is Nigerian food, especially Jollof Rice. I also make experiment with food
      and make different types of cuisines</p>
    <p> I also take all the picture of my food on my phone. My partner also helps with some of the baking.</p>

    <img src="../../public/img/me.jpg">
  </div>
  <%include ../partials/footer %>