<%include ../partials/header %>

<div class="ui text container segment about_container">
  <h2 class="ui header">ABOUT ME</h2>
  <p>Hello, I am Yetunde. I am web developer and University of Houston alumni. I enjoy cooking and reading in my spare time. I made this website to share my love of cooking. I live in Houston and my favorite type of food is Nigerian food, especially Jollof Rice. I also make different types of cuisines</p>
  <img src="/img/rice.JPG" alt="fried rice" class="ui large image">
  <span>*This is Nigerian Fried Rice, which I made</span>
  <p> I also take all the picture of my food on my phone. My boyfriend, Roderick also helps with some of the baking.</p>

</div>
<%include ../partials/footer %>