<div class="index page-container">
    <div class="content">
        <div class="items">

            <div class="item">


                <div id="medium_image">
                    <a href="/blogs/5b8c7f3a3b50f300148264d6">
                        <img src="https://c2.staticflickr.com/2/1898/29480539687_7e0ef8b322_n.jpg">
                    </a>
                </div>

                <div class="index_text">
                    <h3>
                        <a href="/blogs/5b8c7f3a3b50f300148264d6" id="title">
                            Roasted Vegetable Pasta
                        </a>
                    </h3>

                    <div id="meta">
                        <span> Mon Sep 03 2018 </span>
                    </div>

                    <div id="description">
                        <p></p>
                        <p>I have not eaten healthy in a while so I decided to make the healthiest pasta I have ever
                            seen. It's filled with all kind of vegetables like zucchinis and asparagus. Please let me
                            know what you thi...</p>
                    </div>

                    <div id="extra">
                        <a href="/blogs/5b8c7f3a3b50f300148264d6" id="read">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <!--item-->


            <div class="item">


                <div id="medium_image">
                    <a href="/blogs/5b79e40ecc0b470014ccc8b0">
                        <img src="https://c2.staticflickr.com/2/1886/43442609484_48f641c1f9_n.jpg">
                    </a>
                </div>

                <div class="index_text">
                    <h3>
                        <a href="/blogs/5b79e40ecc0b470014ccc8b0" id="title">
                            Fried Rice
                        </a>
                    </h3>

                    <div id="meta">
                        <span> Sun Aug 19 2018 </span>
                    </div>

                    <div id="description">
                        <p></p>
                        <p>This was one of the most delicious rice I have ever tasted. It is flavorful and delicious at
                            the same time. I usually use chicken stock to cook my fried rice but I decided to experiment
                            with beef s...</p>
                    </div>

                    <div id="extra">
                        <a href="/blogs/5b79e40ecc0b470014ccc8b0" id="read">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <!--item-->


            <div class="item">


                <div id="medium_image">
                    <a href="/blogs/5b8b6e6a3b50f300148264d5">
                        <img src="https://c2.staticflickr.com/2/1885/30509377498_6707def1ee_n.jpg">
                    </a>
                </div>

                <div class="index_text">
                    <h3>
                        <a href="/blogs/5b8b6e6a3b50f300148264d5" id="title">
                            Salmon and Brown rice
                        </a>
                    </h3>

                    <div id="meta">
                        <span> Sun Sep 02 2018 </span>
                    </div>

                    <div id="description">
                        <p></p>
                        <div class="wprm-recipe-ingredient-group">
                            <div class="wprm-recipe-group-name wprm-recipe-ingredient-group-name">&nbsp;</div>
                            <div class="wprm-recipe-group-name wprm-recipe-ingredient-group-name">I ...<p></p>
                            </div>

                            <div id="extra">
                                <a href="/blogs/5b8b6e6a3b50f300148264d5" id="read">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--item-->


        </div>
        <!--items-->
    </div>
    <!--content-->


    <footer>
        <div class="footer-text">
            <div>
                <p>Made with <a href="/login"><i class="fas fa-heart" style="color:red"></i></a> by Yetunde</p>
            </div>
            <div class="social-list">
                <a class="item" target="_blank" href="https://www.instagram.com/yettifood/"><i
                        class="fab fa-2x fa-instagram"></i></a>
                <a class="item" target="_blank" href="https://twitter.com/yettifood?lang=en"><i
                        class="fab fa-2x fa-twitter"></i></a>
                <a class="item" target="_blank" href="https://www.facebook.com/yettifood/"><i
                        class="fab fa-2x fa-facebook"></i></a>
            </div>
        </div>
    </footer>



    <script src="https://www.google.com/recaptcha/api.js"></script>



</div>
<!--page-container-->