<%include ../partials/header %>

<div class="page-container">
  <div class="content container">
    <h3>New Blog</h3>

    <form class="form" id="newform" action="/blogs" method="POST" novalidate>
      <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]" placeholder="title" />
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text" name="blog[image]" placeholder="image" />
      </div>

      <div class="field">
        <label>Blog Content</label>
        <div>
          <textarea
            name="blog[body]"
            id="texteditor"
            placeholder="post"
            required
          ></textarea>
        </div>
      </div>

      <input class="submit" type="submit" />
    </form>
  </div>

  <%include ../partials/footer %>
</div>
