<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

<footer>
  <div class="footer-text"> 
      <!-- <div class="ui inverted section divider"></div> -->
      <div>
        <p>Made with <i class="fas fa-heart" style="color:red"></i> by Yetunde</p>
      </div>
      <div class="social-list">
        <a class="item" target="_blank" href="https://www.instagram.com/yettifood/"><i class="fab fa-instagram" style="font-size: 2em; color: #e1306c"></i></a>
        <a class="item" target="_blank" href="https://twitter.com/yettifood?lang=en"><i class="fab fa-twitter" style="font-size: 2em; color: #1da1f2"></i></a>
        <a class="item" target="_blank" href="https://www.facebook.com/yettifood/"><i class="fab fa-facebook" style="font-size: 2em; color: #3b5998"></i></a>      
      </div> 
    </div>
</footer>

<script src='https://www.google.com/recaptcha/api.js'></script>

    </body>
</html>