
<footer>
  <div class="footer-text"> 
      <div>
        <p>Made with <i class="fas fa-heart" style="color:red"></i> by Yetunde</p>
      </div>
      <div class="social-list">
        <a class="item" target="_blank" href="https://www.instagram.com/yettifood/"><i class="fab fa-2x fa-instagram" ></i></a>
        <a class="item" target="_blank" href="https://twitter.com/yettifood?lang=en"><i class="fab fa-2x fa-twitter"></i></a>
        <a class="item" target="_blank" href="https://www.facebook.com/yettifood/"><i class="fab fa-2x fa-facebook"></i></a>      
      </div> 
    </div>
</footer>



<script src='https://www.google.com/recaptcha/api.js'></script>

    </body>
</html>