<%include ../partials/header %>

<div class="page-container">
  <div class="content container">
    <h3>Add New Comment to <%=blog.title%></h3>

    <form
      class="form"
      id="newform"
      action="/blogs/<%=blog._id%>/comments"
      method="POST"
    >
      <div class="field">
        <label>Author *</label>
        <input
          type="text"
          name="comment[author]"
          placeholder="author"
          required
        />
      </div>

      <div class="field">
        <label>Email</label>
        <input type="email" name="comment[email]" placeholder="email" />
      </div>

      <div class="field">
        <label>Comment</label>
        <div>
          <textarea
            name="comment[text]"
            placeholder="comment"
            cols="100"
            rows="10"
            required
          ></textarea>
        </div>
      </div>

      <div class="field">
        <div
          class="g-recaptcha"
          data-sitekey="6LfSwqkUAAAAAJmPRT8tVZut-zUXrgvin25qvh-M"
        ></div>
      </div>

      <input class="submit" type="submit" />
    </form>
  </div>

  <%include ../partials/footer %>
</div>
