<%include ./partials/header %>

<div class="page-container">
  <div class=" container">
    <h1>LOGIN</h1>

    <form action="/login" method="POST" class="form">
      <div class="field">
        <label for="exampleInputEmail1">Username</label>
        <input
          type="text"
          name="username"
          placeholder="username"
          class="form-control"
        />
      </div>

      <div class="field">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
        />
      </div>

      <input type="submit" class="submit" />
    </form>

    <br />
    <p><a href="/register">Register</a></p>
  </div>
  <%include ./partials/footer %>
</div>
