<%include ./partials/header %>

<div class="page-container">
  <div class="content container">
    <h3>Sign up</h3>

    <form action="/register" method="POST" class="form">
      <div class="field">
        <input type="text" name="username" placeholder="username" />
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="password" />
      </div>

      <input type="submit" class="submit" />
    </form>

    <div class="log_btns">
        <li>
          <a href="/login">Login!</a>
        </li>
        <li>
          <a href="/logout">Logout!</a>
        </li>
      </ul>
    </div>
  </div>

  <%include ./partials/footer %>
</div>
