input {
  outline: none; }

.field {
  padding-top: 27px; }
  .field input[type="text"],
  .field input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 15px; }

.comment_textarea:required {
  font-size: 15px;
  margin-bottom: 50px; }

input[type="submit"],
button #submit {
  margin-top: 50px;
  padding: 13px 17px;
  font-size: 15px;
  border: 1px solid purple;
  color: purple;
  text-align: center;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  input[type="submit"]:hover,
  button #submit:hover {
    background-color: purple;
    color: white; }

.log_btns {
  padding-top: 150px;
  display: inline; }
  .log_btns ul {
    list-style: none; }
