* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  color: black; }

.page-container {
  position: relative;
  min-height: 100vh; }

.content {
  padding: 3% 5%;
  padding-bottom: 200px; }

.container {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  /*centers items on the line (the x-axis by default)*/
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

a {
  text-decoration: none; }

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit; }

/* ----------------------------------------------- */
/* FONT */
/* ----------------------------------------------- */
h1 {
  margin-top: 4em; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 25px; }

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
#heading {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 6em;
  color: #723f5f; }

#menu {
  float: left; }

nav {
  width: 100%;
  height: auto;
  border-bottom: 2px solid purple; }
  nav:after {
    content: "";
    display: block;
    clear: both; }

.containermenu {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-right: 60px;
  padding-left: 60px; }
  .containermenu::after {
    display: block;
    height: 2px;
    background-color: purple;
    content: " ";
    width: 1350px;
    max-width: 100%;
    margin-top: 10px; }

#menu li {
  display: inline-block;
  padding-right: 25px;
  list-style: none; }
  #menu li a {
    color: #0e1111; }
    #menu li a:visited {
      color: #7300ab; }

#social_media {
  float: right;
  padding: 5px; }
  #social_media li {
    display: inline-block;
    padding-right: 25px;
    list-style: none; }

/* ----------------------------------------------- */
/* ABOUT */
/* ----------------------------------------------- */
.about p {
  padding: 15px 0px; }

/* ----------------------------------------------- */
/* ICONS */
/* ----------------------------------------------- */
#food_title {
  color: #723f5f;
  text-align: center;
  text-transform: uppercase;
  margin: 3% 0; }
  #food_title:hover {
    color: #723f5f; }

a i.fa-instagram,
a i.fa-instagram:visited {
  color: #c13584; }

a i.fa-twitter,
a i.fa-twitter:visited {
  color: #00acee; }

a i.fa-facebook-square,
a i.fa-facebook-square:visited {
  color: #4267b2; }

.social-list {
  padding-top: 5px; }
  .social-list .item {
    padding: 5px; }

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: grey; }

.footer-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-top: 50px; }

/* ----------------------------------------------- */
/* INDEX PAGE */
/* ----------------------------------------------- */
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 100px 50px;
  text-align: center; }

.item img {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden; }

.item .index_text {
  margin: 10px 50px;
  text-align: center; }

.item div {
  padding-bottom: 10px; }

.item h3 {
  text-transform: uppercase;
  padding-bottom: 10px; }

#title {
  color: #723f5f; }

#read {
  color: #723f5f; }

.segment {
  border: 1px solid #d3d3d3;
  border-radius: 12px;
  padding: 3% 2%;
  margin-top: 2%;
  width: 55%; }

.buttons {
  padding-top: 5%; }

.add {
  padding: 13px 17px;
  border: 1px solid;
  text-align: center;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #a333c8;
  border-color: #a333c8; }
  .add:hover {
    background-color: #a333c8;
    color: white; }

.edit {
  padding: 13px 17px;
  border: 1px solid;
  text-align: center;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: orange;
  border-color: orange; }
  .edit:hover {
    background-color: orange;
    color: white; }

.delete {
  padding: 13px 17px;
  border: 1px solid;
  text-align: center;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: red;
  border-color: red;
  display: inline; }
  .delete:hover {
    background-color: red;
    color: white; }
  .delete button {
    font-size: 16px; }

.comments {
  padding-top: 5%; }

.comment {
  position: relative; }
  .comment .edit {
    padding: 13px 17px;
    border: 1px solid orange;
    border-radius: 12px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

.comment_buttons {
  position: absolute;
  right: 2%;
  top: 5%; }

.author {
  font-weight: bold;
  font-size: 17px; }

.date {
  color: grey;
  font-size: 11px;
  display: inline; }

.text {
  padding-top: 10px; }

.divider {
  padding-top: 5%;
  color: gray; }
  .divider i {
    text-align: center;
    display: block; }

input {
  outline: none; }

.field {
  padding-top: 27px; }
  .field input[type="text"],
  .field input[type="email"],
  .field input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 15px; }
  .field textarea {
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 15px; }

.comment_textarea:required {
  font-size: 15px;
  margin-bottom: 50px; }

input[type="submit"],
button #submit {
  margin-top: 50px;
  padding: 13px 17px;
  font-size: 15px;
  border: 1px solid purple;
  color: purple;
  text-align: center;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  input[type="submit"]:hover,
  button #submit:hover {
    background-color: purple;
    color: white; }

.log_btns {
  padding-top: 150px;
  display: inline; }
  .log_btns ul {
    list-style: none; }
