@mixin buttons($color) {
  padding: 13px 17px;
  border: 1px solid;
  text-align: center;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: $color;
  border-color: $color;
  &:hover {
    background-color: $color;
    color: white;
  }
}

.segment {
  border: 1px solid #d3d3d3;
  border-radius: 12px;
  padding: 3% 2%;
  margin-top: 2%;
  width: 55%;
}

.buttons {
  padding-top: 5%;
}

.add {
  @include buttons(#a333c8);
}

.edit {
  @include buttons(orange);
}

.delete {
  @include buttons(red);
  display: inline;
  button {
    font-size: 16px;
  }
}
.comments {
  padding-top: 5%;
}

.comment {
  position: relative;
  .edit {
    padding: 13px 17px;
    border: 1px solid orange;
    border-radius: 12px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.comment_buttons {
  position: absolute;
  right: 2%;
  top: 5%;
}

.author {
  font-weight: bold;
  font-size: 17px;
}

.date {
  color: grey;
  font-size: 11px;
  display: inline;
}

.text {
  padding-top: 10px;
}

.divider {
  padding-top: 5%;
  color: gray;
  i {
    text-align: center;
    display: block;
  }
}
