* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  color: black;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

#heading {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 6em;
  color: #723f5f;
}

#menu {
  float: left;
  /* padding: 5px; */
}

nav {
  width: 100%;
  height: auto;
  border-bottom: 2px solid purple;
}

nav:after {
  content: "";
  display: block;
  clear: both;
}

.containermenu::after {
  display: block;
  height: 2px;
  background-color: purple;
  content: " ";
  width: 1350px;
  max-width: 100%;
  margin-top: 10px;
}

#menu li {
  display: inline-block;
  padding-right: 25px;
  list-style: none;
}

menu li a {
  color: purple;
}

menu li a:visited {
  color: #7300ab;
}

#social_media {
  float: right;
  padding: 5px;
}

#social_media li {
  display: inline-block;
  padding-right: 25px;
  list-style: none;
}

a {
  text-decoration: none;
}

.item,
.item:visited {
  /* color: black; */
}

/* ----------------------------------------------- */
/* INDEX PAGE */
/* ----------------------------------------------- */

.ui {
  /* width: 60%; */
  padding-left: 10%;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  grid-gap: 10px;
}

/* .item {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  align-items: center;
  color: white;
  font-weight: 100;
} */

/* ----------------------------------------------- */
/* ICONS */
/* ----------------------------------------------- */
i.icon {
  font-size: 1em;
}

a i.fa-instagram,
a i.fa-instagram:visited {
  color: #c13584;
}

a i.fa-twitter,
a i.fa-twitter:visited {
  color: #00acee;
}
a i.fa-facebook-square,
a i.fa-facebook-square:visited {
  color: #4267b2;
}

h1 {
  margin-top: 4em;
}
.item:hover {
  color: purple;
}

#yetti {
  color: #723f5f;
}

#yetti:hover {
  color: #723f5f;
}

#title {
  color: #723f5f;
}

.read {
  color: #723f5f;
}

.container.main {
  margin-top: 7em;
}

.containermenu {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.index {
  min-height: 100%;
}

#container_info {
  width: 60%;
  padding-left: 5%;
  border: none;
  margin-top: 5%;
  padding-bottom: 2%;
}

#delete {
  display: inline;
}

footer {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
